
{{>header}}
<body>
    <br>
    <h1>Pintores</h1>
    <div class="main">
    <hr>
    <center><h5>Elige una opción dando click en la imagen:</h5></center>
    <table>
        <center>
            <tr>
            <th><h3>Leonardo da Vinci</h3></th>
            <th><h3>Vincent van Gogh</h3></th>
            <th><h3>Edvard Munch</h3></th>
            <th><h3>Diego Rivera</h3></th>

            </tr>
            <tr>
            <th> <a href="/davinci"><img class="got" src="images/davinci.jpg" alt="Pintores"></a></th>
            <th><a href="/VanGogh"><img class="got" src="images/vangogh.jpg" alt="Pintores"></a></th>
            <th><a href="/EdvardMunch"><img class="got" src="images/Edvard.jpg" alt="Pintores"></a></th>
            <th><a href="/Diego"><img class="got" src="images/diego.jpg" alt="Pintores"></a></th>

            </tr>
        </center>
         </table> <br>
         <center>   



</div>
</body>
{{>sinBtn}}